.hero {
    background-image: url('../assets/carousel_4.png'); /* Add your background image */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 20px;
    text-align: center;
  }
  
  .hero-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero-title {
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .hero-description {
    font-size: 1.25rem; 
    margin-bottom: 32px;
  }
  